<main>
  <app-cabecalho></app-cabecalho>
  <section>
    <div class="infos-principais">
      <div class="texto-direita">
        <h2><span>Descubra</span> o que torna nosso <span>trabalho excepcional!</span></h2>
        <p>Deixe seu veículo conosco e experimente a tranquilidade de saber que está em mãos especializadas!</p>

        <button (click)="servicosButton()">CONHEÇA NOSSOS <br>SERVIÇOS</button>
      </div>

      <div class="image">
        <img src="../../../../assets/imagens/carro.avif" alt="">
      </div>
    </div>

    <div class="info-contato">
      <div class="localizacao container">
        <img src="../../../../assets/icons/localizacao.svg" alt="">
        <div class="texto">
          <h2>Nossa Localização</h2>
          <p>Av. Pres. Antônio Abraão, 1000 - Boa Viagem</p>
        </div>
      </div>
      <div class="phone container">
        <img src="../../../../assets/icons/telephone.svg" alt="">
        <div class="texto">
          <h2>Contato</h2>
          <p>(110) 1111-1010</p>
        </div>
      </div>
      <div class="mensagem container">
        <img src="../../../../assets/icons/carta.svg" alt="">
        <div class="texto">
          <h2>E-mail</h2>
          <p>{{emailCar}}</p>
        </div>
      </div>
    </div>
  </section>
  <app-rodape></app-rodape>
</main>
