main{
    background-color: #f5f2d0;
    height: 100vh;
    width: 100%;
    section{
    .formulario{
        max-height:650px;
        width: 45%;
        padding: 30px 40px;
        max-width: 900px;
        border-radius: 20px;
        position: absolute;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;

        .inputs{
            width: 100%;
            height: 100%;
            display: flex;
            gap: 1rem;
            width: 900px;
        }
        .contatos{
            display: flex;
            gap: 1rem;
            width: 900px;
        }
        .problemas{
            display: flex;
            gap: 1rem;
            width: 208vh;
        }
        .mensagem{
            display: flex;
            gap: 1rem;
            width: 208vh;
            height: 200px;
        }
        textarea{
            width: 40%;
            height: auto;
            padding: 12px 15px;
            margin-bottom: 20px;
            border: 2px solid #e1e1e1;
            border-radius: 8px;
            resize: none;
            &:focus{
                outline: none;
                border-color: #990401;
            }
        }
        input{
            width: 40%;
            padding: 12px 15px;
            margin-bottom: 20px;
            border: 2px solid #e1e1e1;
            border-radius: 8px;
            transition: all 0.3s ease;
            &:focus{
                outline: none;
                border-color: #990401;
            }
        }
        label{
            display: block;
            font-weight: bold;
            justify-content: center;
            align-items: center;
            margin-bottom: 5px;

        }
        h1{
            text-align: center;
            margin-bottom: 24px;
            color: #990401;
            font-size: 2.5rem;
            span{
                color: #fff;
            }
        }
        }
        .buttons{
            align-items: center;
            justify-content: center;
            display: flex;
            gap: 20px;
            button{
                background-color:#990401;
                color: #fff;
                border: none;
                border-radius: 10px;
                padding: 10px 20px;
                cursor: pointer;
                height: 40px;
                width: 154px;

                &:hover{
                    color: #fff;
                    transform: scale(1.20);
                    transition: 0.5s;
                }
            }
        }
    }
}
