<main>
  <app-cabecalho></app-cabecalho>
  <section>
    <h1>Informações</h1>
    <div class="sobre">
      <div class="image">
        <img src="../../../../assets/imagens/WhatsApp Image 2025-01-29 at 12.34.21.jpeg" alt="">
      </div>

      <div class="texto">
        <div class="sobreMim">
          <h1>Sobre Mim</h1>
          <p>Me chamo Magno, tenho 31 anos, sou casado e tenho dois filhos gêmeos. Abdiquei da minha vida profissional como CLT para investir no meu próprio negócio, que por sinal, foi a melhor escolha que fiz.</p>
        </div>
        <div class="sobreMinhaEmpresa">
          <h1>Sobre Minha Empresa</h1>
          <p>MagnoCar é uma oficina para carro e moto que vem crescendo a cada dia. Em 2024, estivemos no Melhores do Ano da cidade de Boa Viagem na categoria Oficina de Carro e Oficina de Ar-condicionado Automotivo. Isso porque também temos uma parte direcionada para concerto de Ar-condicionado Automotivo, cujo nome é MagnoAr. Temos uma equipe maravilhosa de funcionários, o máximo de dedicação e organização. Trabalhamos com produtos de qualidade, satisfazendo todas as necessidades dos nossos clientes da melhor forma possível. Atuo como mecânico junto aos outros funcionários, enquanto minha esposa administra o negócio e cuida das finanças.</p>
        </div>
      </div>
    </div>
  </section>
</main>
