<main>
  <app-cabecalho></app-cabecalho>
  <section>
    <h1>Informações</h1>
    <div class="sobre">
      <div class="image">
        <img src="../../../../assets/imagens/pexels-shvets-production-7562014 1.png" alt="">
      </div>

      <div class="texto">
        <div class="sobreMim">
          <h1>Sobre Mim</h1>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque voluptatem repudiandae officia adipisci nam! Nostrum, quo quis sequi magni fugiat alias tempora rem asperiores neque veritatis, facere quas nisi unde quisquam deleniti delectus dicta explicabo soluta libero architecto dolores consectetur pariatur nam voluptas! Odit ex aliquam repudiandae, neque autem voluptate?</p>
        </div>
      </div>
      <div class="texto">
        <div class="sobreMinhaEmpresa">
          <h1>Sobre Minha Empresa</h1>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque voluptatem repudiandae officia adipisci nam! Nostrum, quo quis sequi magni fugiat alias tempora rem asperiores neque veritatis, facere quas nisi unde quisquam deleniti delectus dicta explicabo soluta libero architecto dolores consectetur pariatur nam voluptas! Odit ex aliquam repudiandae, neque autem voluptate?</p>
        </div>
      </div>
    </div>
  </section>
</main>
